@model LivingRoomVM
@{
    ViewData["Title"] = "Welcome Home " + Model.Family.FamilyName + " Family";
    FamilyMessage newMessage = new();
}
<h1>@ViewData["Title"]</h1>

<div class="family-calendar mt-4">
    @Html.DisplayFor(model => model.Family.GetCalendar)
</div>

<div class="chat-container">
    <form asp-controller="Family" asp-action="SendFamilyMessage" asp-route-newMessage="@newMessage">
        <div class="scroll-wrap">
            <div class="inner-scroll">
                @Html.DisplayFor(model => model.ChatTv)

            </div>
        </div>
        <div class="form-group">
            <input asp-for="@newMessage.Body" type="text" class="text_input form-control" placeholder="Message..." />
        </div>
        <input type="submit" value="send" class="btn btn_input" />
    </form>
</div>
<!--<div class="couch">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 150 800 300" clip-path="" height="300" y="-20">-->
<!-- Couch body -->
<!--<rect x="50" y="300" width="600" height="150" fill="#b0c4de" stroke="#4f4f4f" stroke-width="4" rx="20" />-->
<!-- Couch pillows -->
<!--<rect x="100" y="275" width="150" height="80" fill="#f5deb3" stroke="#4f4f4f" stroke-width="4" rx="10" />
<rect x="250" y="275" width="200" height="80" fill="#f5deb3" stroke="#4f4f4f" stroke-width="4" rx="10" />
<rect x="500" y="275" width="150" height="80" fill="#f5deb3" stroke="#4f4f4f" stroke-width="4" rx="10" />-->
<!-- Couch details -->
<!--<rect x="50" y="325" width="50" height="100" fill="#8b4513" stroke="#4f4f4f" stroke-width="2" />
<rect x="600" y="325" width="50" height="100" fill="#8b4513" stroke="#4f4f4f" stroke-width="2" />-->
<!-- Couch cushions -->
<!--<rect x="90" y="315" width="100" height="20" fill="#fff" stroke="#4f4f4f" stroke-width="2" rx="10" />
            <rect x="90" y="345" width="100" height="20" fill="#fff" stroke="#4f4f4f" stroke-width="2" rx="10" />
            <rect x="250" y="315" width="180" height="20" fill="#fff" stroke="#4f4f4f" stroke-width="2" rx="10" />
            <rect x="250" y="345" width="180" height="20" fill="#fff" stroke="#4f4f4f" stroke-width="2" rx="10" />
            <rect x="500" y="315" width="100" height="20" fill="#fff" stroke="#4f4f4f" stroke-width="2" rx="10" />
            <rect x="500" y="345" width="100" height="20" fill="#fff" stroke="#4f4f4f" stroke-width="2" rx="10" />

    </svg>
</div>-->
