@model IEnumerable<Familynk.Models.HouseRules>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MagneticMessageLifespan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StickyNoteLifespan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyMembersCustomizeKitchen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyMembersCreateEvents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyMembersInviteOtherMembers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MagneticMessageLifespan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StickyNoteLifespan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyMembersCustomizeKitchen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyMembersCreateEvents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyMembersInviteOtherMembers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HouseRulesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HouseRulesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HouseRulesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
