@model CalendarVM

@{
    ViewData["Title"] = Model.FamilyName + " Family Calendar";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="add-btn" asp-action="Create" asp-controller="Calendar">Add New Event</a>
</p>

<div class="d-grid">
    <div class="row d-flex flex-wrap">
        <div class="container-sm col-4 d-flex">
            @Html.DisplayFor(model => model.GetCalendar)
        </div>
        @foreach (var item in Model.GetCalendar.Events!)
        {
            <div class="event-container col-3">
                <div class="event-item">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div class="event-item">
                    @Html.DisplayFor(modelItem => item.EventDate)
                </div>
                <details class="event-details">
                    @Html.DisplayFor(modelItem => item.Details)
                    <summary>
                        <i class="bi bi-info-square-fill"></i>
                    </summary>
                </details>
                <div class="event-item">
                    <a asp-action="Edit" asp-controller="Calendar" asp-route-id="@item.FamilyEventId">Edit</a> |
                    <a asp-action="Details" asp-controller="Calendar" asp-route-id="@item.FamilyEventId">Details</a> |
                    <a asp-action="Delete" asp-controller="Calendar" asp-route-id="@item.FamilyEventId">Delete</a>
                </div>
            </div>
        }
    </div>
</div>
