@model CalendarVM

@{
    ViewData["Title"] = "Index";
}

<h1>Family Calendar</h1>

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="FamilyEvent">Add New Event</a>
</p>
<div class="container-sm mx-auto d-flex">
    @Html.DisplayFor(model => model.GetCalendar)
</div>

    <table class="table table-sm">
        @foreach (var item in Model.GetCalendar.Events!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberTagId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FamilyEventId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FamilyEventId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FamilyEventId">Delete</a>
                </td>
            </tr>
        }
    </table>
</table>
