@model Familynk.Models.Messages.DirectMessage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DirectMessage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppMessageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppMessageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyEventId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyEventId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppMessageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
